<!DOCTYPE html>
<html>
<head>
	<% include ../parials/head %>
</head>
<body class="container">
	<header>
		<% include ../parials/header %>

	</header>
	 <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <%- name %>
            <%- content %>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

<footer>
	<% include ../parials/footer %>
</footer>
</body>
</html>