<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
<form action='/upload' method="post" enctype="multipart/form-data">
	<input type="file" name="avatar" value="Chon file" /></br>
	<input type="submit" value="upload">
</form>
</body>
</html>